<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WeatherTech Cafe - Calzone</title>
	<script>
	function changePrice()
		{
			var q = parseInt(document.getElementById("quantity").value);
			if (document.getElementById("choice").value == "Cheese")
			{
				q = q * 5.89;
			}
			else if (document.getElementById("choice").value == "BBQ Chicken")
			{
				q = q * 6.89;
			}
			else if (document.getElementById("choice").value == "Pepperoni")
			{
				q = q * 6.49;
			}
			else if (document.getElementById("choice").value == "Meat Lovers")
			{
				q = q * 7.89;
			}
			else if (document.getElementById("choice").value == "Hawaiian")
			{
				q = q * 7.89;
			}
			else if (document.getElementById("choice").value == "Margherita")
			{
				q = q * 6.49;
			}
			else if (document.getElementById("choice").value == "Margheritin")
			{
				q = q * 6.49
			}
			else if (document.getElementById("choice").value == "Vegan")
			{
				q = q * 6.39;
			}
			document.getElementById("price").innerHTML = "$" + q.toFixed(2);
		}		
	</script>

  </head>

  <body>
     <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          <h1 class="my-4">Calzone</h1>
          <div class="list-group">
			<%= link_to "Calzone", "/item_pages/calzone", :class => "list-group-item" %>
			<%= link_to "Pizza", "/item_pages/pizza", :class => "list-group-item" %>
			<%= link_to "Sandwich", "/item_pages/sandwich", :class => "list-group-item" %>
			<%= link_to "Soup", "/item_pages/soup", :class => "list-group-item" %>
			<%= link_to "Salad", "/item_pages/salad", :class => "list-group-item" %>
			<%= link_to "Gluten-Free", "/item_pages/glutenfree", :class => "list-group-item" %>
			<%= link_to "Dessert", "/item_pages/dessert", :class => "list-group-item" %>
			<%= link_to "Drink", "/item_pages/drink", :class => "list-group-item" %>
          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <%= image_tag "calzone.jpg" %>
            <div class="card-body">
              <h3 class="card-title">Price</h3>
              <h4 id="price">$5.89</h4>
			  <p class="card-text">"Melted to perfection."</p>
			  <p class="card-text">Ingredients: Wheat, Cheese, Tomatoes</p>
				<form action="submit.php">
					Type:<br>
					<select id="choice" name="type" onchange="changePrice()">
						<option value="Cheese">Cheese</option>
						<option value="BBQ Chicken">BBQ Chicken</option>
						<option value="Pepperoni">Pepperoni</option>
						<option value="Meat Lovers">Meat Lovers</option>
						<option value="Hawaiian">Hawaiian</option>
						<option value="Margherita">Margherita</option>
						<option value="Margheritin">Margheritin</option>
						<option value="Vegan">Vegan</option>
					</select> 
					<br><br>
					Quantity:<br>
					<select id="quantity" name="quantity" onchange="changePrice()">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select> 
					<br><br>
					Additional Comments:<br>
					<input type="text" value="" placeholder="Any special instructions?">
					<br><br>
					<input type="submit" value="Add to Cart">
				</form> 
            </div>
          </div>
          <!-- /.card -->

          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->
  </body>
</html>
